### Carregamento da base de dados

In [ ]:
from seaborn import load_dataset
import pandas as pd

df=load_dataset("titanic")

#df.info() #A coluna 'deck' tem apenas 203 valores non-null, assim eu vou pensar em tirar ela

df=df.drop('deck', axis=1) #exclusão da coluna 'deck'
df=df.dropna() # exclusão das linas com NaN

df=df.drop('class', axis=1) #exclusão da coluna 'class' que está diretamente relacionada com a coluna 'pclass'
df=df.drop('alive',axis=1) #exclusão da coluna 'alive' que está relacionada com a coluna 'survived'
#df.describe()
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,embark_town,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,Southampton,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,Cherbourg,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,Southampton,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,Southampton,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,Southampton,True
...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,woman,False,Queenstown,False
886,0,2,male,27.0,0,0,13.0000,S,man,True,Southampton,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,Southampton,True
889,1,1,male,26.0,0,0,30.0000,C,man,True,Cherbourg,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,Queenstown,True

### OneHotEncoder

In [ ]:
#Tranformação das colunas categoricas
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

column_transformer = make_column_transformer((OneHotEncoder(),['sex','embarked','who','adult_male','embark_town','alone']), remainder='passthrough')

df=column_transformer.fit_transform(df)

df=pd.DataFrame(data=df, columns=column_transformer.get_feature_names_out())

In [ ]:
df

,onehotencoder__sex_female,onehotencoder__sex_male,onehotencoder__embarked_C,onehotencoder__embarked_Q,onehotencoder__embarked_S,onehotencoder__who_child,onehotencoder__who_man,onehotencoder__who_woman,onehotencoder__adult_male_False,onehotencoder__adult_male_True,...,onehotencoder__embark_town_Queenstown,onehotencoder__embark_town_Southampton,onehotencoder__alone_False,onehotencoder__alone_True,remainder__survived,remainder__pclass,remainder__age,remainder__sibsp,remainder__parch,remainder__fare
0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,3.0,22.0,1.0,0.0,7.2500
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,38.0,1.0,0.0,71.2833
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,3.0,26.0,0.0,0.0,7.9250
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,35.0,1.0,0.0,53.1000
4,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,3.0,35.0,0.0,0.0,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,3.0,39.0,0.0,5.0,29.1250
708,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,2.0,27.0,0.0,0.0,13.0000
709,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,19.0,0.0,0.0,30.0000
710,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,1.0,26.0,0.0,0.0,30.0000
711,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,3.0,32.0,0.0,0.0,7.7500

### Separação dos dados de teste e de treinamento

In [ ]:
y=df['remainder__pclass']

X=df.drop('remainder__pclass', axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y) #80% treino e 20% teste

### Treinamento dos modelos

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

modelo_1=DecisionTreeClassifier(criterion='entropy', max_depth=5)
modelo_2=DecisionTreeClassifier(max_depth=4)

modelo_3=KNeighborsClassifier(n_neighbors=4, metric='euclidean', algorithm='brute')
modelo_4=KNeighborsClassifier(n_neighbors=7, metric='euclidean', algorithm='brute')

modelo_1.fit(X_treino, y_treino)
modelo_2.fit(X_treino, y_treino)
modelo_3.fit(X_treino, y_treino)
modelo_4.fit(X_treino, y_treino)

###Predições e Resultados

In [ ]:
from sklearn import metrics

resultado_1=modelo_1.predict(X_teste)
resultado_2=modelo_2.predict(X_teste)
resultado_3=modelo_3.predict(X_teste)
resultado_4=modelo_4.predict(X_teste)

porcentagens=[]

acc_1=metrics.accuracy_score(resultado_1,y_teste)
porcentagens.append(round(acc_1*100))

acc_2=metrics.accuracy_score(resultado_2,y_teste)
porcentagens.append(round(acc_2*100))

acc_3=metrics.accuracy_score(resultado_3,y_teste)
porcentagens.append(round(acc_3*100))

acc_4=metrics.accuracy_score(resultado_4,y_teste)
porcentagens.append(round(acc_4*100))

for i in range(4):
  print("{}%".format(porcentagens[i])+" modelo "+str(i+1))

90% modelo 1
87% modelo 2
77% modelo 3
82% modelo 4